@charset "UTF-8";
/********* VARIAVEIS *********/
/********* CONFIGURAÇÃO *********/
/* line 10, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 16, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/main.scss */
html {
  scroll-behavior: smooth; }

/* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/main.scss */
a {
  text-decoration: none; }

/* line 24, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/main.scss */
ul, li {
  list-style: none; }

/* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/main.scss */
img {
  width: 100%;
  display: block; }

/********* MIXINS *********/
/********* RESPONSIVIDADE *********/
/********* PÁGINA *********/
/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
.header {
  background-color: #006B8F;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  /* line 7, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .logo {
    width: 12.5rem; }
  /* line 11, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .nav {
    display: flex;
    gap: 1rem;
    padding: 1rem; }
  /* line 17, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .nav__item {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: 4px 8px;
    box-shadow: 0px 0px 2px 2px #000;
    border-radius: 4px; }
    /* line 25, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
    .header .nav__item:hover {
      box-shadow: 0px 0px 4px 4px #fff;
      transition: all .6s; }
  /* line 31, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .img__menu {
    width: 30px; }
  /* line 35, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .nav__link {
    color: #fff;
    font-family: "Nova Square", cursive;
    font-size: 1.4rem; }

/* line 6, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
.patrocinadores .patrocinio__cabecalho {
  padding: 1.4rem; }

/* line 10, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
.patrocinadores .patrocinadores__titulo {
  text-align: center;
  padding-bottom: 2rem;
  font-family: "KoHo", sans-serif;
  font-size: 3rem; }

/* line 17, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
.patrocinadores .logo__patrocinio {
  width: 120px; }

/* line 21, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
.patrocinadores .patrocinio-box1, .patrocinadores .patrocinio-box2 {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
.sobre {
  background-color: #001F29;
  height: 100vh; }
  /* line 5, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .sobre__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh; }
  /* line 14, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .logo__liga {
    width: 350px; }
  /* line 18, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .sobre__info {
    width: 640px;
    position: relative; }
  /* line 23, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .img__detalhe__bola {
    width: 60px; }
  /* line 27, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .img__detalhe__bola2 {
    width: 60px;
    bottom: -25px;
    right: 0;
    position: absolute; }
  /* line 34, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .sobre__titulo {
    color: #fff;
    font-family: "KoHo", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  /* line 41, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .sobre__p {
    color: #928d8d;
    font-family: "KoHo", sans-serif;
    padding: .5rem;
    margin-bottom: .5rem; }

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
.tabela {
  background-color: #001F29; }
  /* line 4, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__cabecalho {
    color: #fff;
    font-family: "KoHo", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem; }
  /* line 12, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__box__btn {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center; }
  /* line 19, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__link {
    display: flex;
    align-items: center;
    gap: .5rem;
    box-shadow: 0px 0px 4px 2px #fff;
    padding: 6px 10px;
    border-radius: 4px; }
  /* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__icone {
    width: 50px;
    background-color: #fff; }
  /* line 33, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__btn__titulo {
    font-family: "KoHo", sans-serif;
    color: #fff;
    border-radius: 4px;
    font-size: 1.2rem; }
  /* line 40, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .cabecalho__tabela {
    margin-top: 3rem; }
  /* line 44, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .titulo__seriea {
    font-family: "KoHo", sans-serif;
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    padding: 1rem; }
  /* line 52, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__abas {
    display: flex;
    margin: 0 auto;
    width: 520px; }
  /* line 62, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__abas__links {
    font-family: "KoHo", sans-serif;
    font-size: 1.4rem;
    border-top-right-radius: 50px;
    color: #928d8d;
    background-color: #BA1200;
    font-weight: bold;
    padding: 1rem;
    width: 200px;
    border: 1px solid #fff;
    text-align: center; }
    /* line 74, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
    .tabela .tabela__abas__links:hover {
      background-color: #fff;
      transition: all .5s;
      color: #000;
      font-weight: bold;
      border: 1px solid #BA1200; }

/*# sourceMappingURL=main.css.map */