@charset "UTF-8";
/********* VARIAVEIS *********/
/********* CONFIGURAÇÃO *********/
/* line 10, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 16, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/main.scss */
html {
  scroll-behavior: smooth; }

/* line 20, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/main.scss */
a {
  text-decoration: none; }

/* line 24, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/main.scss */
ul, li {
  list-style: none; }

/* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/main.scss */
img {
  width: 100%;
  display: block; }

/********* MIXINS *********/
/********* RESPONSIVIDADE *********/
/********* PÁGINA *********/
/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
.header {
  background-color: #006B8F;
  height: 100vh;
  position: relative; }
  /* line 6, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .menu-hamburguer {
    position: fixed;
    top: 4px;
    right: 4px;
    width: 60px;
    display: none; }
  /* line 16, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .cabecalho__menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  /* line 22, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .logo {
    width: 12.5rem; }
    @media (max-width: 480px) {
      /* line 22, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
      .header .logo {
        width: 6.25rem; } }
  /* line 32, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .nav {
    display: flex;
    gap: 1rem;
    padding: 1rem; }
  /* line 42, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .nav.ativo {
    display: flex; }
  /* line 46, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .nav__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #001F29;
    box-shadow: 0px 0px 10px 2px #fff;
    border-radius: 4px;
    padding: .2rem; }
    /* line 55, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
    .header .nav__item:hover {
      background-color: #006B8F;
      transition: all .5s;
      box-shadow: 0px 0px 2px 2px #000; }
  /* line 62, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .nav__ico {
    width: 30px;
    color: #fff; }
    @media (max-width: 480px) {
      /* line 62, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
      .header .nav__ico {
        width: 20px; } }
  /* line 71, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .nav__link {
    color: #fff;
    font-family: "Nova Square", cursive;
    font-size: 1.5rem;
    padding: .8rem; }
    @media (max-width: 480px) {
      /* line 71, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
      .header .nav__link {
        font-size: .8rem; } }
  /* line 82, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .header__detalhes {
    display: flex;
    justify-content: space-around; }
  /* line 87, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .header__detalhes img {
    z-index: 1;
    width: 400px; }
  /* line 93, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .detalhes__header1 {
    z-index: 0;
    background-color: #928d8d;
    opacity: .5;
    position: absolute;
    bottom: 300px;
    left: -15px;
    width: 1000px;
    height: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: rotateZ(-18deg); }
  /* line 108, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .detalhes__header2 {
    z-index: 0;
    background-color: #928d8d;
    opacity: .7;
    position: absolute;
    bottom: 200px;
    left: 15px;
    width: 800px;
    height: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: rotateZ(-18deg); }
  /* line 122, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_header.scss */
  .header .detalhes__header3 {
    z-index: 0;
    background-color: #928d8d;
    opacity: .9;
    position: absolute;
    bottom: 115px;
    left: 40px;
    width: 700px;
    height: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: rotateZ(-18deg); }

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
.sobre {
  background-color: #001F29;
  height: 100vh;
  border-bottom: 3px solid #fff; }
  @media (max-width: 480px) {
    /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
    .sobre {
      height: 170vh; } }
  /* line 10, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .sobre__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh; }
    @media (max-width: 480px) {
      /* line 10, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
      .sobre .sobre__box {
        gap: 2rem; } }
  /* line 23, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .logo__liga {
    width: 350px; }
    @media (max-width: 480px) {
      /* line 23, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
      .sobre .logo__liga {
        width: 200px;
        padding-top: 1rem; } }
  /* line 32, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .sobre__info {
    width: 640px;
    position: relative; }
  /* line 37, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .img__detalhe__bola {
    width: 60px; }
  /* line 41, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .img__detalhe__bola2 {
    width: 60px;
    bottom: -25px;
    right: 0;
    position: absolute; }
  /* line 48, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .sobre__titulo {
    color: #fff;
    font-family: "KoHo", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 2rem; }
    @media (max-width: 480px) {
      /* line 48, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
      .sobre .sobre__titulo {
        font-size: 2rem;
        text-align: center; } }
  /* line 60, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_sobre.scss */
  .sobre .sobre__p {
    color: #928d8d;
    font-family: "KoHo", sans-serif;
    padding: .5rem;
    margin-bottom: .5rem; }

/* line 6, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
.patrocinadores .patrocinio__cabecalho {
  padding: 1.4rem; }

/* line 10, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
.patrocinadores .patrocinadores__titulo {
  text-align: center;
  padding-bottom: 2rem;
  font-family: "KoHo", sans-serif;
  font-size: 3rem; }
  @media (max-width: 480px) {
    /* line 10, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
    .patrocinadores .patrocinadores__titulo {
      font-size: 2rem;
      padding-bottom: 1rem; } }

/* line 22, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
.patrocinadores .logo__patrocinio {
  width: 120px; }
  @media (max-width: 480px) {
    /* line 22, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
    .patrocinadores .logo__patrocinio {
      width: 80px; } }

/* line 30, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
.patrocinadores .patrocinio-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  @media (max-width: 480px) {
    /* line 30, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_patrocinadores.scss */
    .patrocinadores .patrocinio-box {
      padding: .8rem; } }

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
.tabela {
  background-color: #001F29;
  padding-top: 2rem; }
  /* line 5, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .classificacao {
    height: 80vh; }
  /* line 9, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .cla__titulo {
    font-family: "KoHo", sans-serif;
    font-size: 2rem;
    border-top-right-radius: 50px;
    color: #fff;
    background-color: #BA1200;
    font-weight: bold;
    padding: 1rem;
    width: 400px;
    border: 1px solid #fff;
    text-align: center;
    margin: 2rem auto; }
  /* line 23, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .cla__tabela {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 600px;
    margin: 0 auto; }
  /* line 30, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .cla__colocacao {
    text-align: center;
    padding: .8rem; }
  /* line 35, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .colocacao {
    color: #fff;
    font-size: 1.2rem; }
  /* line 40, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .colocacao__cabecalho,
  .tabela .times__cabecalho,
  .tabela .pontos__cabecalhos,
  .tabela .jogos__cabecalho,
  .tabela .golsPro__cabecalho,
  .tabela .golsContra__cabecalho {
    background-color: #006B8F;
    color: #fff;
    margin-bottom: .6rem;
    width: 40px; }
  /* line 60, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .cla__times {
    width: 200px;
    padding: .8rem; }
  /* line 65, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .time {
    color: #fff;
    font-size: 1.2rem; }
  /* line 70, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .cla__pontos {
    width: 40px;
    text-align: center;
    padding: .8rem; }
  /* line 77, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .pontos {
    color: #fff;
    font-size: 1.2rem; }
  /* line 83, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .cla__jogos {
    width: 40px;
    text-align: center;
    padding: .8rem; }
  /* line 90, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .jogos {
    color: #fff;
    font-size: 1.2rem; }
  /* line 95, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .cla__golsPro {
    width: 40px;
    text-align: center;
    padding: .8rem; }
  /* line 102, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .golsPro {
    color: #fff;
    font-size: 1.2rem; }
  /* line 107, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .cla__golsContra {
    width: 40px;
    text-align: center;
    padding: .8rem; }
  /* line 114, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .golsContra {
    color: #fff;
    font-size: 1.2rem; }
  /* line 119, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__cabecalho {
    color: #fff;
    font-family: "KoHo", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem; }
    @media (max-width: 480px) {
      /* line 119, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
      .tabela .tabela__cabecalho {
        font-size: 2rem; } }
  /* line 131, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__box__btn {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center; }
  /* line 138, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__link {
    display: flex;
    align-items: center;
    gap: .5rem;
    box-shadow: 0px 0px 4px 2px #fff;
    padding: 6px 10px;
    border-radius: 4px; }
  /* line 147, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__icone {
    width: 50px;
    background-color: #fff; }
    @media (max-width: 480px) {
      /* line 147, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
      .tabela .tabela__icone {
        width: 40px; } }
  /* line 156, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__btn__titulo {
    font-family: "KoHo", sans-serif;
    color: #fff;
    border-radius: 4px;
    font-size: 1.2rem; }
  /* line 163, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .cabecalho__tabela {
    margin-top: 3rem; }
  /* line 167, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .titulo__seriea {
    font-family: "KoHo", sans-serif;
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    padding: 1rem; }
  /* line 175, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__abas {
    display: flex;
    margin: 0 auto;
    width: 520px; }
    @media (max-width: 480px) {
      /* line 175, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
      .tabela .tabela__abas {
        width: 300px; } }
  /* line 189, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .tabela__abas__links {
    font-family: "KoHo", sans-serif;
    font-size: 1.4rem;
    border-top-right-radius: 50px;
    color: #fff;
    background-color: #BA1200;
    font-weight: bold;
    padding: 1rem;
    width: 200px;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer; }
    /* line 202, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
    .tabela .tabela__abas__links:hover {
      background-color: #fff;
      transition: all .5s;
      color: #000;
      font-weight: bold;
      border: 1px solid #BA1200; }
    @media (max-width: 480px) {
      /* line 189, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
      .tabela .tabela__abas__links {
        font-size: 1rem; } }
  /* line 215, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .fase__1 {
    padding-top: 3rem; }
  /* line 219, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .titulo__fase {
    font-family: "Nova Square", cursive;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem; }
  /* line 227, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .fase__1__conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2;
    margin-top: 2rem; }
  /* line 235, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .quartas, .tabela .semi, .tabela .final {
    display: flex;
    justify-content: center; }
  /* line 240, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .fase__1__box {
    margin-bottom: 1.4rem;
    cursor: pointer; }
  /* line 246, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .fase__titulo {
    color: #fff;
    font-family: "Nova Square", cursive;
    font-size: 1.4rem;
    text-align: center;
    background-color: #BA1200;
    padding: 1rem;
    width: 500px;
    border-top-right-radius: 50px;
    border: 1px solid #928d8d; }
    /* line 258, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
    .tabela .fase__titulo:hover {
      background-color: #fff;
      transition: all .6s;
      color: #000; }
    @media (max-width: 480px) {
      /* line 246, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
      .tabela .fase__titulo {
        width: 300px; } }
  /* line 269, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .fase__tabela {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    border: 2px solid #928d8d;
    width: 500px;
    padding: .8rem;
    border-top-right-radius: 50px; }
    /* line 280, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
    .tabela .fase__tabela:hover {
      background-color: #fff;
      transition: all .6s; }
    /* line 285, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
    .tabela .fase__tabela:hover .jogo__1 {
      color: #000;
      font-weight: bold; }
    /* line 290, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
    .tabela .fase__tabela:hover .confronto__time {
      color: #000;
      font-weight: bold; }
    /* line 295, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
    .tabela .fase__tabela:hover .resultado {
      color: #000;
      font-weight: bold; }
    /* line 300, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
    .tabela .fase__tabela:hover .data {
      color: #000;
      font-weight: bold; }
    /* line 305, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
    .tabela .fase__tabela:hover .hora {
      color: #000;
      font-weight: bold; }
    @media (max-width: 480px) {
      /* line 269, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
      .tabela .fase__tabela {
        width: 300px; } }
  /* line 316, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .jogo__1 {
    font-family: "KoHo", sans-serif;
    color: #fff;
    font-size: 14px; }
  /* line 322, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .confronto__jogo {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 6px; }
  /* line 331, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .confronto__time {
    font-family: "KoHo", sans-serif;
    color: #fff;
    font-size: 14px; }
  /* line 337, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .resultado {
    font-family: "KoHo", sans-serif;
    color: #fff;
    font-size: 14px; }
  /* line 344, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .data,
  .tabela .hora {
    font-family: "KoHo", sans-serif;
    color: #fff;
    font-size: 14px; }
  /* line 351, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .js-tabConteudo .fase__1 {
    display: none; }
  /* line 355, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela .js-tabConteudo .fase__1.ativo {
    display: flex;
    animation: show .8s forwards; }

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
  /* line 371, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/pedrabranquense/scss/_tabela.scss */
  .tabela details[open] summary ~ * {
    animation: scroll .7s ease-out; }

@keyframes scroll {
  from {
    opacity: 0;
    margin-top: -10px; }
  to {
    opacity: 1;
    margin-top: 0px; } }

/*# sourceMappingURL=main.css.map */