.header {
    background-color: $cor-header;
    height: 100vh;
    position: relative;

    .menu-hamburguer {
        position: fixed;
        top: 4px;
        right: 4px;
        width: 60px;
        display: none;
        
    }
    

        .cabecalho__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            width: 12.5rem;

                @include celular {
                    width: 6.25rem;
                }
        }

        

        .nav {
            display: flex;
            gap: 1rem;
            padding: 1rem;

                // @include celular {
                //     display: none;
                // } 
        }

        .nav.ativo {
            display: flex;
        }

        .nav__item {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: $cor-section;
            box-shadow: 0px 0px 2px 2px #fff;
            border-radius: 4px;
            padding: .2rem;

                &:hover {
                    box-shadow: 0px 0px 4px 4px #fff;
                    transition: all .6s;
                }
        }

        .nav__ico {
            width: 30px;
            color: #fff;

                @include celular {
                    width: 20px;
                }
        }

        .nav__link {
            color: #fff;
            font-family: $fonte-titulo;
            font-size: 1.5rem;
            padding: .8rem;

                @include celular {
                    font-size: .8rem;
                }
        }

        .header__detalhes {
            display: flex;
            justify-content: space-around;
        }

        .header__detalhes img {
            z-index: 1;
            width: 400px;
            // border: 2px solid #000;
        }   

        .detalhes__header1 {
            z-index: 0;
            background-color: $cor-paragrafo;
            opacity: .5;
            position: absolute;
            bottom: 300px;
            left: -15px;
            width: 1000px;
            height: 50px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            transform: rotateZ(-18deg);
            
        }

        .detalhes__header2 {
            z-index: 0;
            background-color: $cor-paragrafo;
            opacity: .7;
            position: absolute;
            bottom: 200px;
            left: 15px;
            width: 800px;
            height: 50px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            transform: rotateZ(-18deg);
        }

        .detalhes__header3 {
            z-index: 0;
            background-color: $cor-paragrafo;
            opacity: .9;
            position: absolute;
            bottom: 115px;
            left: 40px;
            width: 700px;
            height: 50px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            transform: rotateZ(-18deg);
        }

        
}