.header {
    background-color: $cor-header;

    .menu-hamburguer {
        width: 60px;
        display: block;
    }
    

        .cabecalho__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            width: 12.5rem;

                @include celular {
                    width: 6.25rem;
                }
        }

        

        .nav {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 1rem;

                // @include celular {
                //     display: none;
                // } 
        }

        .nav__item {
            display: flex;
            align-items: center;
            gap: .3rem;
            padding: 4px 8px;
            box-shadow: 0px 0px 2px 2px #000;
            border-radius: 4px;

                &:hover {
                    box-shadow: 0px 0px 4px 4px #fff;
                    transition: all .6s;
                }
        }

        .img__menu {
            width: 30px;

                @include celular {
                    width: 20px;
                }
        }

        .nav__link {
            color: #fff;
            font-family: $fonte-titulo;
            font-size: 1.4rem;

                @include celular {
                    font-size: .8rem;
                }
        }
}