.sobre {
    background-color: $cor-section;
    height: 100vh;
    border-bottom: 3px solid #fff;
    z-index: 0;

        @include celular {
            height: 130vh;
        }

        .sobre__box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            height: 100vh;

                @include celular {
                    gap: 2rem;
                }
        }

        .logo__liga {
            width: 350px;

                @include celular {
                    width: 200px;
                    padding-top: 1rem;
                }
        }

        .sobre__info {
            width: 640px;
            position: relative;
        }

        .img__detalhe__bola {
            width: 60px;

                @include celular {
                    display: none;
                }
        }

        .img__detalhe__bola2 {
            width: 60px;
            bottom: -25px;
            right: 0;
            position: absolute;

                @include celular {
                    display: none;
                }
        }

        .sobre__titulo {
            color: #fff;
            font-family: $fonte-corpo;
            font-size: 2.4rem;
            margin-bottom: 2rem;

                @include celular {
                    font-size: 2rem;
                    text-align: center;
                }
        }

        .sobre__p {
            color: $cor-paragrafo;
            font-family: $fonte-corpo;
            padding: .5rem;
            margin-bottom: .5rem;
        }

}