.tabela {
    background-color: $cor-section;
    padding-top: 2rem;

        .tabela__cabecalho {
            color: #fff;
            font-family: $fonte-corpo;
            font-size: 3rem;
            text-align: center;
            margin-bottom: 2rem;

                @include celular {
                    font-size: 2rem;
                }
        }

        .tabela__box__btn {
            display: flex;
            gap: 1.5rem;
            justify-content: center;
            align-items: center;
        }

        .tabela__link {
            display: flex;
            align-items: center;
            gap: .5rem;
            box-shadow: 0px 0px 4px 2px #fff;
            padding: 6px 10px;
            border-radius: 4px;
        }

        .tabela__icone {
            width: 50px;
            background-color: #fff;

                @include celular {
                    width: 40px;
                }
        }

        .tabela__btn__titulo {
            font-family: $fonte-corpo;
            color: #fff;
            border-radius: 4px;
            font-size: 1.2rem;
        }

        .cabecalho__tabela {
            margin-top: 3rem;
        }

        .titulo__seriea {
            font-family: $fonte-corpo;
            font-size: 2.4rem;
            color: #fff;
            text-align: center;
            padding: 1rem;
        }

        .tabela__abas {
            display: flex;
            // gap: 1rem;
            margin: 0 auto;
            // border: 2px solid #fff;
            
            // padding: 1rem;
            width: 520px;

                @include celular {
                    width: 300px;
                }
        }

        .tabela__abas__links {
            font-family: $fonte-corpo;
            font-size: 1.4rem;
            border-top-right-radius: 50px;
            color: #fff;
            background-color: $cor-btn;
            font-weight: bold;
            padding: 1rem;
            width: 200px;
            border: 1px solid #fff;
            text-align: center;
            cursor: pointer;

                &:hover {
                    background-color: #fff;
                    transition: all .5s;
                    color: #000;
                    font-weight: bold;
                    border: 1px solid $cor-btn;
                }

                @include celular {
                    font-size: 1rem;
                }
        }

        .fase__1 {
            padding-top: 3rem;
        }

        .titulo__fase {
            font-family: $fonte-titulo;
            color: #fff;
            text-align: center;
            margin-top: 3rem;
            font-size: 2rem;
        }

        .fase__1__conteudo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 2;
            margin-top: 2rem;
        }

        .quartas, .semi, .final {
            display: flex;
            justify-content: center;
        }

        .fase__1__box {
            margin-bottom: 1.4rem;
            cursor: pointer;
               
        }

        .fase__titulo {
            color: #fff;
            font-family: $fonte-titulo;
            font-size: 1.4rem;
            text-align: center;
            background-color: $cor-btn;
            padding: 1rem;
            width: 500px;
            border-top-right-radius: 50px;
            border: 1px solid $cor-paragrafo;

                &:hover {
                    background-color: #fff;
                    transition: all .6s;
                    color: #000;
                }

                @include celular {
                    width: 300px;
                }
        }
        
        .fase__tabela {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content:  space-evenly;
            justify-items: center;
            align-items: center;
            border:  2px solid $cor-paragrafo;
            width: 500px;
            padding: .8rem;
            border-top-right-radius: 50px;

                &:hover {
                    background-color: #fff;
                    transition: all .6s;
                }

                &:hover .jogo__1 {
                    color: #000;
                    font-weight: bold;
                }

                &:hover .confronto__time {
                    color: #000;
                    font-weight: bold;
                }

                &:hover .resultado {
                    color: #000;
                    font-weight: bold;
                }

                &:hover .data {
                    color: #000;
                    font-weight: bold;
                }

                &:hover .hora {
                    color: #000;
                    font-weight: bold;
                }

                @include celular {
                    width: 300px;
                }

        }

        .jogo__1 {
            font-family: $fonte-corpo;
            color: #fff;
            font-size: 14px;
        }

        .confronto__jogo {
            display: flex;
            gap: 1.2rem;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            margin-bottom: 6px;
        }

        .confronto__time {
            font-family: $fonte-corpo;
            color: #fff;
            font-size: 14px;
        }

        .resultado {
            font-family: $fonte-corpo;
            color: #fff;
            font-size: 14px;
            // padding: 1px 3px;
        }

        .data,
        .hora {
            font-family: $fonte-corpo;
            color: #fff;
            font-size: 14px;
        }

        .js-tabConteudo .fase__1 {
            display: none;
        }

        .js-tabConteudo .fase__1.ativo {
            display: flex;
            animation: show .8s forwards;
        }

        @keyframes show {
            from {
                opacity: 0;
                transform: translate3d(-30px,0,0);
            }
            to {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
}