.tabela {
    background-color: $cor-section;

        .tabela__cabecalho {
            color: #fff;
            font-family: $fonte-corpo;
            font-size: 3rem;
            text-align: center;
        }
}