/********* VARIAVEIS *********/
$cor-header: #006B8F;
$cor-section: #001F29;
$cor-btn: #BA1200;
$fonte-titulo: 'Nova Square', cursive;
$fonte-corpo: 'KoHo', sans-serif;

/********* CONFIGURAÇÃO *********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}



/********* MIXINS *********/

/********* RESPONSIVIDADE *********/
@mixin celular {
    @media(max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media(min-width: 480px) and (max-width: 768) {
        @content;
    }
}

@mixin desktop {
    @media(min-width: 768px) and (max-width: 1480) {
        @content;
    }
}




/********* PÁGINA *********/
@import "header.scss";
@import "patrocinadores.scss";
@import "sobre.scss";
